MONGODB_CONNECTION_STRING=uri_connection_string
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_SESSION_TOKEN=a_session_token
JWT_SECRET=jwt_secret
QUEUE_URL = queue_url
